QDialog {
    background: qlineargradient(
        spread: pad,
        x1: 0, y1: 0,
        x2: 1, y2: 1,
        stop: 0   rgba(227, 240, 255, 255),
        stop: 0.25 rgba(249, 243, 255, 255),
        stop: 0.5  rgba(212, 236, 251, 255),
        stop: 0.75 rgba(223, 244, 255, 255),
        stop: 1    rgba(227, 240, 255, 255)
    );
    border-radius: 30px;
}

QPushButton {
    background: qlineargradient(
        spread: pad,
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0 rgba(0, 170, 255, 255),
        stop: 1 rgba(0, 128, 255, 255)
    );
    color: white;
    border: none;
    padding: 10px;
    border-radius: 18px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    font-weight: bold;
}

QPushButton:hover {
    background: qlineargradient(
        spread: pad,
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0 rgba(0, 150, 255, 255),
        stop: 1 rgba(0, 110, 255, 255)
    );
}

QPushButton:pressed {
    background: qlineargradient(
        spread: pad,
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0 rgba(0, 128, 255, 255),
        stop: 1 rgba(0, 90, 255, 255)
    );
}